- provide(:title, t('.title'))


.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      - content_for :card_header do
        .row.ml-1.my-3.pl-0
          .col-1.pl-0
            = select_tag "year", options_for_years, :include_blank=>false, :class=>"form-control"
          .col-1.pl-0
            = select_tag "month", options_for_mth_months, :include_blank=>false, :class=>"form-control"
          .col-1
            %button#report-search.button.button-royal.button-small{:type => "button"}
              查询
          .col-2
            %button#report-download-excel.button.button-primary.button-small{:type => "button"}
              下载月报汇总Excel

        = render 'reports/date_fct_panel'

      - content_for :card_body do
        .container-fluid
          .row
            .col-12
              .card.w-100
                .card-body
                  .tab-content.text-center
                    #home.tab-pane.active{:role => "tabpanel"}
                      .row
                        .col-12
                          %table#mth-pdt-rpt-table.text-center.table-sm{:'data-toggle' => "table", :"data-pagination"=>"true", :'data-id-table'=>"advancedTable", :"data-search" => "true",:'data-advanced-search'=>"true", :'data-height' => "600", :'data-virtual-scroll' => "true", :'data-show-columns' => "true", :'data-page-size' => "15"}
                            %thead
                              %tr
                                %th{:scope => "col", :'data-field' => "id"} #
                              
                                %th{:scope => "col", :'data-field' => "name"}
                                  = Setting.mth_pdt_rpts.name
                                %th{:scope => "col", :'data-field' => "ipt"}
                                  = Setting.sday_pdts.ipt
                                %th{:scope => "col", :'data-field' => "opt"}
                                  = Setting.sday_pdts.opt
                                %th{:scope => "col", :'data-field' => "power"}
                                  = Setting.sday_pdts.power
                                %th{:scope => "col", :'data-field' => "state"}
                                  = Setting.mth_pdt_rpts.state
                                %th{:scope => "col", :'data-field' => "button"}

      = render "layouts/bootstrap/card"
= render "mth_pdt_rpts/mth_pdt_rpt_modal"
