.container-fluid
  .row.justify-content-sm-center
    .col-sm-12
      = form_for @mth_pdt_rpt, :url => "/factories/#{idencode(@factory.id)}/mth_pdt_rpts/#{@mth_pdt_rpt.id ? idencode(@mth_pdt_rpt.id) : ''}", :builder => WebsiteFormBuilder, :html => {:'data-parsley-validate' => true} do |f|
        - if @mth_pdt_rpt.errors.any?
          #error_explanation.alert.alert-danger.alert-dismissible.fade.show
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} x 
            %h2= "#{pluralize(@mth_pdt_rpt.errors.count, "error")} :"
            %ul
              - @mth_pdt_rpt.errors.full_messages.each do |msg|
                %li= msg
      
        = hidden_field_tag 'fct', idencode(@factory.id) 
        = hidden_field_tag 'mth', idencode(@mth_pdt_rpt.id) 
        .row
          .col-sm-12
            %h2.text-center
              = image_tag "gykg.jpg"
              = @mth_pdt_rpt.name
      
      
          .col-sm-8.offset-2.p-5.border
            .row
              .col-6
                .form-group.row
                  = f.label Setting.mth_pdt_rpts.design, :class => "col-sm-6 col-form-label text-right"
                  .col-sm-6
                    = f.text_field :design, :class => "form-control rounded-0" , :required => true, :disabled => true
              .col-6
                .form-group.row
                  = f.label Setting.mth_pdt_rpts.outflow, :class => "col-sm-6 col-form-label text-right"
                  .col-sm-6
                    = f.number_field :outflow, :class => "form-control rounded-0" , :required => true, :step => 'any', :readonly => 'readonly'
              .col-6
                .form-group.row
                  = f.label Setting.mth_pdt_rpts.avg_outflow, :class => "col-sm-6 col-form-label text-right"
                  .col-sm-6
                    = f.number_field :avg_outflow, :class => "form-control rounded-0" , :required => true, :step => 'any', :readonly => 'readonly'
              .col-6
                .form-group.row
                  = f.label Setting.mth_pdt_rpts.end_outflow, :class => "col-sm-6 col-form-label text-right"
                  .col-sm-6
                    = f.number_field :end_outflow, :class => "form-control rounded-0" , :required => true, :step => 'any', :readonly => 'readonly'
          
            .row
              .col-12
                .form-group.row
                  = f.label Setting.mth_pdt_rpts.ecm_ans_rpt + 'word文件(必上传)', :class => "col-sm-3 col-form-label text-right text-primary"
                  .col-sm-9
                    %label.newbutton.button.button-primary
                      %p.append-url
                        = f.one_attachment("ecm_ans_rpt")
                      = f.file_field :ecm_ans_rpt, :accept => ".doc,.docx", :class => "select-file", :onchange => "readFileName(this);"
            .card.border-0.mb-3.rounded-0
              .card-header.bg-transparent.border-warning
                %h5
                  = Setting.chemicals.label
                  %span.text-danger
                    (PAM药剂浓度为固体药剂溶解后浓度)
              .card-body
                = f.fields_for :mth_chemicals do |chemical|
                  = render 'chemical_fields', f: chemical
                #mth-chemical-ctn
                .form-group.row
                  = f.label Setting.mth_pdt_rpts.cmc_bill + '(必上传,图片大小小于500KB)', :class => "col-sm-3 col-form-label text-right text-danger"
                  .col-sm-9
                    %label.newbutton
                      = image_tag f.one_image("cmc_bill"), :class => "blah"
                      = f.file_field :cmc_bill, :accept => "image/png, image/jpeg, image/gif", :class => "select-file", :onchange => "readURL(this);"
      
            = f.fields_for :month_cod do |mth_cod|
              = render 'month_cod_fields', f: mth_cod 
   
            = f.fields_for :month_bod do |mth_bod|
              = render 'month_bod_fields', f: mth_bod 
   
            = f.fields_for :month_nhn do |mth_nhn|
              = render 'month_nhn_fields', f: mth_nhn 
   
            = f.fields_for :month_tn do |mth_tn|
              = render 'month_tn_fields', f: mth_tn 
   
            = f.fields_for :month_tp do |mth_tp|
              = render 'month_tp_fields', f: mth_tp 

            = f.fields_for :month_ss do |mth_nhn|
              = render 'month_ss_fields', f: mth_nhn 
   
            = f.fields_for :month_power do |mth_power|
              = render 'month_power_fields', f: mth_power 
   
            = f.fields_for :month_mud do |mth_mud|
              = render 'month_mud_fields', f: mth_mud 
   
            = f.fields_for :month_md do |mth_md|
              = render 'month_md_fields', f: mth_md 
   
            -#
              = f.fields_for :month_device do |month_device|
                = render 'month_device_fields', f: month_device 
   
              = f.fields_for :month_stuff do |month_stuff|
                = render 'month_stuff_fields', f: month_stuff 

              = f.fields_for :month_fecal do |month_fecal|
                = render 'month_fecal_fields', f: month_fecal 
   
      
        .form-group.row
          .col-3.offset-3
            = f.submit '保存', :class => "button  button-small button-action"
        -#
          .col-3.offset-1
            = link_to '返回', mth_pdt_rpts_path, :class => "button button-small  button-caution"
