.container-fluid
  .row
    .col-sm-12
      %h2.text-center
        = image_tag "gykg.jpg"
        = @mth_pdt_rpt.name
    .col-sm-8.offset-2.p-5.border
      .col-sm-5.offset-7
        %h2
          = render 'mth_pdt_rpts/state', :mth_pdt_rpt => @mth_pdt_rpt
      %table.table-bordered.day-pdt-table.w-100
        %caption.text-center
          = Setting.mth_pdt_rpts.label
        %tbody
          %tr
            %td.p-3.text-center
              = label_tag nil, Setting.mth_pdt_rpts.design
            %td.p-3.text-center
              = @mth_pdt_rpt.design
          
            %td.p-3.text-center
              = label_tag nil, Setting.mth_pdt_rpts.outflow
            %td.p-3.text-center
              = @mth_pdt_rpt.outflow
          
          %tr
            %td.p-3.text-center
              = label_tag nil, Setting.mth_pdt_rpts.avg_outflow
            %td.p-3.text-center
              = @mth_pdt_rpt.avg_outflow
          
            %td.p-3.text-center
              = label_tag nil, Setting.mth_pdt_rpts.end_outflow
            %td.p-3.text-center
              = @mth_pdt_rpt.end_outflow
          
      %table.table-bordered.day-pdt-table.w-100
        %caption.text-center
          = Setting.month_cods.label
        %tbody
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_cods.avg_inf
            %td.p-3.text-center
              = @mth_pdt_rpt.month_cod.avg_inf

            %td.p-3.text-right
              = label_tag nil, Setting.month_cods.avg_eff
            %td.p-3.text-center
              = @mth_pdt_rpt.month_cod.avg_eff
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_cods.emr
            %td.p-3.text-center
              = @mth_pdt_rpt.month_cod.emr
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_cods.avg_emq
            %td.p-3.text-center
              = @mth_pdt_rpt.month_cod.avg_emq
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_cods.emq
            %td.p-3.text-center
              = @mth_pdt_rpt.month_cod.emq
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_cods.end_emq
            %td.p-3.text-center
              = @mth_pdt_rpt.month_cod.end_emq
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_cods.up_std
            %td.p-3.text-center
              = @mth_pdt_rpt.month_cod.up_std
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_cods.end_std
            %td.p-3.text-center
              = @mth_pdt_rpt.month_cod.end_std
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_cods.yoy
            %td.p-3.text-center
              = @mth_pdt_rpt.month_cod.yoy
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_cods.mom
            %td.p-3.text-center
              = @mth_pdt_rpt.month_cod.mom
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_cods.ypdr
            %td.p-3.text-center
              = @mth_pdt_rpt.month_cod.ypdr
              
      %table.table-bordered.day-pdt-table.w-100
        %caption.text-center
          = Setting.month_bods.label
        %tbody
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_bods.avg_inf
            %td.p-3.text-center
              = @mth_pdt_rpt.month_bod.avg_inf

            %td.p-3.text-right
              = label_tag nil, Setting.month_bods.avg_eff
            %td.p-3.text-center
              = @mth_pdt_rpt.month_bod.avg_eff
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_bods.emr
            %td.p-3.text-center
              = @mth_pdt_rpt.month_bod.emr
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_bods.avg_emq
            %td.p-3.text-center
              = @mth_pdt_rpt.month_bod.avg_emq
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_bods.emq
            %td.p-3.text-center
              = @mth_pdt_rpt.month_bod.emq
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_bods.end_emq
            %td.p-3.text-center
              = @mth_pdt_rpt.month_bod.end_emq
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_bods.up_std
            %td.p-3.text-center
              = @mth_pdt_rpt.month_bod.up_std
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_bods.end_std
            %td.p-3.text-center
              = @mth_pdt_rpt.month_bod.end_std
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_bods.yoy
            %td.p-3.text-center
              = @mth_pdt_rpt.month_bod.yoy
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_bods.mom
            %td.p-3.text-center
              = @mth_pdt_rpt.month_bod.mom
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_bods.ypdr
            %td.p-3.text-center
              = @mth_pdt_rpt.month_bod.ypdr
      %table.table-bordered.day-pdt-table.w-100
        %caption.text-center
          = Setting.month_tns.label
        %tbody
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_tns.avg_inf
            %td.p-3.text-center
              = @mth_pdt_rpt.month_tn.avg_inf

            %td.p-3.text-right
              = label_tag nil, Setting.month_tns.avg_eff
            %td.p-3.text-center
              = @mth_pdt_rpt.month_tn.avg_eff
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_tns.emr
            %td.p-3.text-center
              = @mth_pdt_rpt.month_tn.emr
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_tns.avg_emq
            %td.p-3.text-center
              = @mth_pdt_rpt.month_tn.avg_emq
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_tns.emq
            %td.p-3.text-center
              = @mth_pdt_rpt.month_tn.emq
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_tns.end_emq
            %td.p-3.text-center
              = @mth_pdt_rpt.month_tn.end_emq
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_tns.up_std
            %td.p-3.text-center
              = @mth_pdt_rpt.month_tn.up_std
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_tns.end_std
            %td.p-3.text-center
              = @mth_pdt_rpt.month_tn.end_std
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_tns.yoy
            %td.p-3.text-center
              = @mth_pdt_rpt.month_tn.yoy
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_tns.mom
            %td.p-3.text-center
              = @mth_pdt_rpt.month_tn.mom
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_tns.ypdr
            %td.p-3.text-center
              = @mth_pdt_rpt.month_tn.ypdr
      %table.table-bordered.day-pdt-table.w-100
        %caption.text-center
          = Setting.month_tps.label
        %tbody
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_tps.avg_inf
            %td.p-3.text-center
              = @mth_pdt_rpt.month_tp.avg_inf

            %td.p-3.text-right
              = label_tag nil, Setting.month_tps.avg_eff
            %td.p-3.text-center
              = @mth_pdt_rpt.month_tp.avg_eff
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_tps.emr
            %td.p-3.text-center
              = @mth_pdt_rpt.month_tp.emr
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_tps.avg_emq
            %td.p-3.text-center
              = @mth_pdt_rpt.month_tp.avg_emq
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_tps.emq
            %td.p-3.text-center
              = @mth_pdt_rpt.month_tp.emq
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_tps.end_emq
            %td.p-3.text-center
              = @mth_pdt_rpt.month_tp.end_emq
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_tps.up_std
            %td.p-3.text-center
              = @mth_pdt_rpt.month_tp.up_std
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_tps.end_std
            %td.p-3.text-center
              = @mth_pdt_rpt.month_tp.end_std
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_tps.yoy
            %td.p-3.text-center
              = @mth_pdt_rpt.month_tp.yoy
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_tps.mom
            %td.p-3.text-center
              = @mth_pdt_rpt.month_tp.mom
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_tps.ypdr
            %td.p-3.text-center
              = @mth_pdt_rpt.month_tp.ypdr
      %table.table-bordered.day-pdt-table.w-100
        %caption.text-center
          = Setting.month_nhns.label
        %tbody
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_nhns.avg_inf
            %td.p-3.text-center
              = @mth_pdt_rpt.month_nhn.avg_inf

            %td.p-3.text-right
              = label_tag nil, Setting.month_nhns.avg_eff
            %td.p-3.text-center
              = @mth_pdt_rpt.month_nhn.avg_eff
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_nhns.emr
            %td.p-3.text-center
              = @mth_pdt_rpt.month_nhn.emr
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_nhns.avg_emq
            %td.p-3.text-center
              = @mth_pdt_rpt.month_nhn.avg_emq
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_nhns.emq
            %td.p-3.text-center
              = @mth_pdt_rpt.month_nhn.emq
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_nhns.end_emq
            %td.p-3.text-center
              = @mth_pdt_rpt.month_nhn.end_emq
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_nhns.up_std
            %td.p-3.text-center
              = @mth_pdt_rpt.month_nhn.up_std
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_nhns.end_std
            %td.p-3.text-center
              = @mth_pdt_rpt.month_nhn.end_std
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_nhns.yoy
            %td.p-3.text-center
              = @mth_pdt_rpt.month_nhn.yoy
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_nhns.mom
            %td.p-3.text-center
              = @mth_pdt_rpt.month_nhn.mom
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_nhns.ypdr
            %td.p-3.text-center
              = @mth_pdt_rpt.month_nhn.ypdr

      %table.table-bordered.day-pdt-table.w-100
        %caption.text-center
          = Setting.month_sses.label
        %tbody
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_sses.avg_inf
            %td.p-3.text-center
              = @mth_pdt_rpt.month_ss.avg_inf

            %td.p-3.text-right
              = label_tag nil, Setting.month_sses.avg_eff
            %td.p-3.text-center
              = @mth_pdt_rpt.month_ss.avg_eff
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_sses.emr
            %td.p-3.text-center
              = @mth_pdt_rpt.month_ss.emr
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_sses.avg_emq
            %td.p-3.text-center
              = @mth_pdt_rpt.month_ss.avg_emq
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_sses.emq
            %td.p-3.text-center
              = @mth_pdt_rpt.month_ss.emq
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_sses.end_emq
            %td.p-3.text-center
              = @mth_pdt_rpt.month_ss.end_emq
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_sses.up_std
            %td.p-3.text-center
              = @mth_pdt_rpt.month_ss.up_std
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_sses.end_std
            %td.p-3.text-center
              = @mth_pdt_rpt.month_ss.end_std
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_sses.yoy
            %td.p-3.text-center
              = @mth_pdt_rpt.month_ss.yoy
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_sses.mom
            %td.p-3.text-center
              = @mth_pdt_rpt.month_ss.mom
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_sses.ypdr
            %td.p-3.text-center
              = @mth_pdt_rpt.month_ss.ypdr
          


               
      %table.table-bordered.day-pdt-table.w-100
        %caption.text-center
          = Setting.month_fecals.label
        %tbody
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_fecals.up_std
            %td.p-3.text-center
              = @mth_pdt_rpt.month_fecal.up_std
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_fecals.end_std
            %td.p-3.text-center
              = @mth_pdt_rpt.month_fecal.end_std
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_fecals.yoy
            %td.p-3.text-center
              = @mth_pdt_rpt.month_fecal.yoy
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_fecals.mom
            %td.p-3.text-center
              = @mth_pdt_rpt.month_fecal.mom
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_fecals.ypdr
            %td.p-3.text-center
              = @mth_pdt_rpt.month_fecal.ypdr
              
          
      %table.table-bordered.day-pdt-table.w-100
        %caption.text-center
          = Setting.month_powers.label
        %tbody
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_powers.power
            %td.p-3.text-center
              = @mth_pdt_rpt.month_power.power
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_powers.end_power
            %td.p-3.text-center
              = @mth_pdt_rpt.month_power.end_power
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_powers.bom
            %td.p-3.text-center
              = @mth_pdt_rpt.month_power.bom
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_powers.bom_power
            %td.p-3.text-center
              = @mth_pdt_rpt.month_power.bom_power
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_powers.yoy_power
            %td.p-3.text-center
              = @mth_pdt_rpt.month_power.yoy_power
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_powers.mom_power
            %td.p-3.text-center
              = @mth_pdt_rpt.month_power.mom_power
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_powers.yoy_bom
            %td.p-3.text-center
              = @mth_pdt_rpt.month_power.yoy_bom
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_powers.mom_bom
            %td.p-3.text-center
              = @mth_pdt_rpt.month_power.mom_bom
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_powers.ypdr_power
            %td.p-3.text-center
              = @mth_pdt_rpt.month_power.ypdr_power

            %td.p-3.text-right
              = label_tag nil, Setting.month_powers.ypdr_bom
            %td.p-3.text-center
              = @mth_pdt_rpt.month_power.ypdr_bom
              
          
      %table.table-bordered.day-pdt-table.w-100
        %caption.text-center
          = Setting.month_muds.label
        %tbody
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_muds.inmud
            %td.p-3.text-center
              = @mth_pdt_rpt.month_mud.inmud
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_muds.end_inmud
            %td.p-3.text-center
              = @mth_pdt_rpt.month_mud.end_inmud
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_muds.outmud
            %td.p-3.text-center
              = @mth_pdt_rpt.month_mud.outmud
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_muds.outmud
              = label_tag nil, Setting.month_muds.end_outmud
            %td.p-3.text-center
              = @mth_pdt_rpt.month_mud.end_outmud
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_muds.mst_up
            %td.p-3.text-center
              = @mth_pdt_rpt.month_mud.mst_up
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_muds.yoy
            %td.p-3.text-center
              = @mth_pdt_rpt.month_mud.yoy
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_muds.mom
            %td.p-3.text-center
              = @mth_pdt_rpt.month_mud.mom
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_muds.ypdr
            %td.p-3.text-center
              = @mth_pdt_rpt.month_mud.ypdr
              
          
      %table.table-bordered.day-pdt-table.w-100
        %caption.text-center
          = Setting.month_mds.label
        %tbody
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_mds.mdrcy
            %td.p-3.text-center
              = @mth_pdt_rpt.month_md.mdrcy
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_mds.end_mdrcy
            %td.p-3.text-center
              = @mth_pdt_rpt.month_md.end_mdrcy
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_mds.mdsell
            %td.p-3.text-center
              = @mth_pdt_rpt.month_md.mdsell
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_mds.end_mdsell
            %td.p-3.text-center
              = @mth_pdt_rpt.month_md.end_mdsell
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_mds.yoy_mdrcy
            %td.p-3.text-center
              = @mth_pdt_rpt.month_md.yoy_mdrcy
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_mds.mom_mdrcy
            %td.p-3.text-center
              = @mth_pdt_rpt.month_md.mom_mdrcy

          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_mds.yoy_mdsell
            %td.p-3.text-center
              = @mth_pdt_rpt.month_md.yoy_mdsell
             
            %td.p-3.text-right
              = label_tag nil, Setting.month_mds.mom_mdsell
            %td.p-3.text-center
              = @mth_pdt_rpt.month_md.mom_mdsell
             
          %tr
            %td.p-3.text-right
              = label_tag nil, Setting.month_mds.ypdr_mdsell
            %td.p-3.text-center
              = @mth_pdt_rpt.month_md.ypdr_mdsell
            %td.p-3.text-right
              = label_tag nil, Setting.month_mds.ypdr_mdrcy
            %td.p-3.text-center
              = @mth_pdt_rpt.month_md.ypdr_mdrcy

-#      
  %table.table-bordered.day-pdt-table.w-100
    %caption.text-center
      = Setting.month_devices.label
    %tbody
      %tr
        %td.p-3.text-center
          = label_tag nil, Setting.month_devices.wsyxts
        %td.p-3.text-center
          = @mth_pdt_rpt.month_device.wsyxts
         
        %td.p-3.text-center
          = label_tag nil, Setting.month_devices.wswdyxts
        %td.p-3.text-center
          = @mth_pdt_rpt.month_device.wswdyxts
         
      %tr
        %td.p-3.text-center
          = label_tag nil, Setting.month_devices.sbwhl
        %td.p-3.text-center
          = @mth_pdt_rpt.month_device.sbwhl
         
        %td.p-3.text-center
          = label_tag nil, Setting.month_devices.gysbwhl
        %td.p-3.text-center
          = @mth_pdt_rpt.month_device.gysbwhl
         
      %tr
        %td.p-3.text-center
          = label_tag nil, Setting.month_devices.wbywhl
        %td.p-3.text-center
          = @mth_pdt_rpt.month_device.wbywhl
         
        %td.p-3.text-center
          = label_tag nil, Setting.month_devices.gzwwhl
        %td.p-3.text-center
          = @mth_pdt_rpt.month_device.gzwwhl
         
      %tr
        %td.p-3.text-center
          = label_tag nil, Setting.month_devices.yoy
        %td.p-3.text-center
          = @mth_pdt_rpt.month_device.yoy
         
        %td.p-3.text-center
          = label_tag nil, Setting.month_devices.mom
        %td.p-3.text-center
          = @mth_pdt_rpt.month_device.mom
         
      %tr
        %td.p-3.text-center
          = label_tag nil, Setting.month_devices.ypdr
        %td.p-3.text-center
          = @mth_pdt_rpt.month_device.ypdr
          
      
  %table.table-bordered.day-pdt-table.w-100
    %caption.text-center
      = Setting.month_stuffs.label
    %tbody
      %tr
        %td.p-3.text-center
          = label_tag nil, Setting.month_stuffs.xdjtjl
        %td.p-3.text-center
          = @mth_pdt_rpt.month_stuff.xdjtjl
         
        %td.p-3.text-center
          = label_tag nil, Setting.month_stuffs.end_xdjtjl
        %td.p-3.text-center
          = @mth_pdt_rpt.month_stuff.end_xdjtjl
         
      %tr
        %td.p-3.text-center
          = label_tag nil, Setting.month_stuffs.yoy
        %td.p-3.text-center
          = @mth_pdt_rpt.month_stuff.yoy
         
        %td.p-3.text-center
          = label_tag nil, Setting.month_stuffs.mom
        %td.p-3.text-center
          = @mth_pdt_rpt.month_stuff.mom
         
      %tr
        %td.p-3.text-center
          = label_tag nil, Setting.month_stuffs.ypdr
        %td.p-3.text-center
          = @mth_pdt_rpt.month_stuff.ypdr
          
      
