- provide(:title, t('.title'))


.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      - content_for :card_header do
        %h5
          = fa_icon "list", text: t(controller_name + "." + action_name + '.title')

          

          

          -#
            = link_to "/#{controller_name}/new", :class => "button  button-small pull-right button-primary mr-1" do
              = fa_icon "plus", text: Setting.systems.btn_new, right: false 
          %button.button.button-primary.button-small.pull-right.mr-1{"data-target" => "#newModal", "data-toggle" => "modal", :type => "button"}
            = fa_icon "plus", text: Setting.systems.btn_new, right: false 
      - content_for :card_body do
        .container-fluid
          .row
            .col-md-12
              %table.text-center.table-sm{:'data-toggle' => "table", :'data-id-table'=>"advancedTable", :"data-search" => "true",:'data-advanced-search'=>"true"}
                %thead
                  %tr
                    %th{:scope => "col"} #
                  
                    %th{:scope => "col"}
                      = Setting.smonth_ipts.ipt
                    %th{:scope => "col"}
                      = Setting.smonth_ipts.end_ipt
                    %th{:scope => "col"}
                      = Setting.smonth_ipts.max_ipt
                    %th{:scope => "col"}
                      = Setting.smonth_ipts.min_ipt
                    %th{:scope => "col"}
                      = Setting.smonth_ipts.avg_ipt
                    %th{:scope => "col"}
                      = Setting.smonth_ipts.max_date
                    %th{:scope => "col"}
                      = Setting.smonth_ipts.min_date
                    %th{:scope => "col"}
                      = Setting.smonth_ipts.yoy
                    %th{:scope => "col"}
                      = Setting.smonth_ipts.mom
                    %th{:scope => "col"}
                      = Setting.smonth_ipts.ypdr
                    %th{:scope => "col"}
                      设置
                %tbody
                  - @smonth_ipts.each_with_index do |smonth_ipt, index|
                    %tr
                      %td{:scope => "row"}
                        = index+1
                    
                      %td
                        = smonth_ipt.ipt
                      %td
                        = smonth_ipt.end_ipt
                      %td
                        = smonth_ipt.max_ipt
                      %td
                        = smonth_ipt.min_ipt
                      %td
                        = smonth_ipt.avg_ipt
                      %td
                        = smonth_ipt.max_date
                      %td
                        = smonth_ipt.min_date
                      %td
                        = smonth_ipt.yoy
                      %td
                        = smonth_ipt.mom
                      %td
                        = smonth_ipt.ypdr
                      %td
                        .container-fluid
                          .row.justify-content-center
                            = link_to "编辑", edit_smonth_ipt_path(idencode(smonth_ipt.id)), :class => "button button-royal button-small mr-1" 
                            = link_to "查看",  smonth_ipt_path(idencode(smonth_ipt.id)), :class => "button button-primary button-small mr-1" 
                            = link_to "删除",  smonth_ipt_path(idencode(smonth_ipt.id)), :method => :delete, :data => {:confirm => "确定删除吗?"}, :class => "button button-caution button-small" 
            .col-md-12.site-theme-paginate-wrapper.d-flex.justify-content-center.mt-3
              = paginate @smonth_ipts, window: 2, left: 1, right: 1 
      = render "layouts/bootstrap/card"



#newModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "newModalLabel", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} x 
      .modal-body
        = render 'form'
