.container-fluid
  .row.justify-content-sm-center
    .col-sm-12
      = form_for @mth_pdt_rpt, :url => "/cmpy_mth_rpts/#{idencode(@mth_pdt_rpt.id)}?category=#{@mth_pdt_rpt.category}", :builder => WebsiteFormBuilder, :html => {:'data-parsley-validate' => true} do |f|
        - if @mth_pdt_rpt.errors.any?
          #error_explanation.alert.alert-danger.alert-dismissible.fade.show
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} x 
            %h2= "#{pluralize(@mth_pdt_rpt.errors.count, "error")} :"
            %ul
              - @mth_pdt_rpt.errors.full_messages.each do |msg|
                %li= msg
      
        //= hidden_field_tag 'fct', idencode(@factory.id) 
        = hidden_field_tag 'mth', idencode(@mth_pdt_rpt.id) 
        .row
          .col-sm-12
            %h2.text-center
              = image_tag "gykg.jpg"
              = @mth_pdt_rpt.name
      
      
          .col-sm-8.offset-2.p-5.border
            .row
              .col-12
                .form-group.row
                  = f.label Setting.mth_pdt_rpts.ecm_ans_rpt + 'word文件(必上传)', :class => "col-sm-3 col-form-label text-right text-primary"
                  .col-sm-9
                    %label.newbutton.button.button-primary
                      %p.append-url
                        = f.one_attachment("ecm_ans_rpt")
                      = f.file_field :ecm_ans_rpt, :accept => ".doc,.docx", :class => "select-file", :onchange => "readFileName(this);"
      
            = f.fields_for :cmpy_mth_ipt do |smth_ipt|
              = render 'smonth_ipt_fields', f: smth_ipt
            = f.fields_for :cmpy_mth_opt do |smth_opt|
              = render 'smonth_opt_fields', f: smth_opt
            = f.fields_for :cmpy_mth_power do |smth_power|
              = render 'smonth_power_fields', f: smth_power
            -#
              = f.fields_for :smonth_sell do |smth_sell|
              = render 'smonth_sell_fields', f: smth_sell


        .form-group.row
          .col-3.offset-3
            = f.submit '保存', :class => "button  button-small button-action"
