- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      - content_for :card_header do
        %h5
          = fa_icon "list", text: t(controller_name + "." + action_name + '.title')
          %span.text-danger
            = fa_icon 'question-circle-o', text: '系统每日8:00前自动生成昨日空白报表'
      - content_for :card_body do
        .container-fluid
          .row
            .col-md-12
              %table.text-center.table-sm{:'data-toggle' => "table", :'data-id-table'=>"advancedTable", :"data-search" => "true",:'data-advanced-search'=>"true"}
                %thead
                  %tr
                    %th{:scope => "col"} #
                    %th{:scope => "col"}
                      = Setting.sday_pdts.pdt_date
                    %th{:scope => "col"}
                      = Setting.sday_pdts.name
                    %th{:scope => "col"}
                      = Setting.sday_pdts.signer
                    %th{:scope => "col"}
                      = Setting.sday_pdts.state
                    %th{:scope => "col"}
                %tbody
                  - @sday_pdts.each_with_index do |sday_pdt, index|
                    %tr
                      %td{:scope => "row"}
                        = index+1
                      %td
                        = sday_pdt.pdt_date
                      %td
                        = sday_pdt.name
                      %td
                        = sday_pdt.signer
                      %td
                        = render 'day_pdts/state', :day_pdt => sday_pdt
                      %td
                        .container-fluid
                          .row.justify-content-center
                            - if sday_pdt.state == Setting.day_pdts.ongoing || sday_pdt.state == Setting.day_pdts.rejected || sday_pdt.state == Setting.day_pdts.cmp_rejected
                              = link_to "编辑", edit_sfactory_sday_pdt_path(idencode(sday_pdt.sfactory.id), idencode(sday_pdt.sfactory.id)), :class => "button button-caution button-small mr-1" 
                            = link_to "查看", sfactory_sday_pdt_path(idencode(sday_pdt.sfactory.id), idencode(sday_pdt.sfactory.id)), :class => "button button-primary button-small mr-1" 
            -#
              .col-md-12.site-theme-paginate-wrapper.d-flex.justify-content-center.mt-3
              = paginate @sday_pdts, window: 2, left: 1, right: 1 
      = render "layouts/bootstrap/card"


-#
  #newModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "newModalLabel", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} x 
      .modal-body
        = render 'form'
-#
  %th{:scope => "col"}
    = Setting.sday_pdts.weather
  %th{:scope => "col"}
    = Setting.sday_pdts.min_temper
  %th{:scope => "col"}
    = Setting.sday_pdts.max_temper
  %th{:scope => "col"}
    = Setting.sday_pdts.desc
  %th{:scope => "col"}
    = Setting.sday_pdts.one_verify
  %th{:scope => "col"}
    = Setting.sday_pdts.two_verify
  %th{:scope => "col"}
    = Setting.sday_pdts.ipt
  %th{:scope => "col"}
    = Setting.sday_pdts.opt
  %th{:scope => "col"}
    = Setting.sday_pdts.press
  %th{:scope => "col"}
    = Setting.sday_pdts.power
  %th{:scope => "col"}
    = Setting.sday_pdts.yl
  %th{:scope => "col"}
    = Setting.sday_pdts.zd
  %th{:scope => "col"}
    = Setting.sday_pdts.yd
  %th{:scope => "col"}
    = Setting.sday_pdts.ph
-#
  %td
  = sday_pdt.pdt_date
  %td
    = sday_pdt.weather
  %td
    = sday_pdt.min_temper
  %td
    = sday_pdt.max_temper
  %td
    = sday_pdt.desc
  %td
    = sday_pdt.one_verify
  %td
    = sday_pdt.two_verify
  %td
    = sday_pdt.ipt
  %td
    = sday_pdt.opt
  %td
    = sday_pdt.press
  %td
    = sday_pdt.power
  %td
    = sday_pdt.yl
  %td
    = sday_pdt.zd
  %td
    = sday_pdt.yd
  %td
    = sday_pdt.ph
