- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      .container-fluid.px-0
        %ul.border.bg-white.list-group.list-group-horizontal.pl-3.py-2
          %li.list-group-item.border-0.pl-0.d-flex.flex-row
            = date_field_tag 'start', nil, class: 'form-control mr-1', :value => Date.today-7, :min => Date.new(2019, 01, 01), :max => Date.today-1
            %span
              一
            = date_field_tag 'end', nil, class: 'form-control ml-1', :value => Date.today, :min => Date.new(2019, 01, 01), :max => Date.today-1
          %li.list-group-item.pl-0.border-0
            %button.area-time-search.button.button-primary.button-small{:type => "button"}
              查询 
        = render 'reports/date_fct_panel'
        .row
          .col-12
            .card.mx-1.w-100
              .card-header.border-bottom-0.bg-white
                %ul.nav.nav-tabs{:role => "tablist"}
                  %li.nav-item
                    %a.nav-link.active{"data-toggle" => "tab", :href => "#home", :role => "tab"}
                      电单耗
                  %li.nav-item
                    %a.nav-link{"data-toggle" => "tab", :href => "#profile", :role => "tab"}
                      吨水药剂成本
                  %li.nav-item
                    %a.nav-link{"data-toggle" => "tab", :href => "#messages", :role => "tab"}
                      除磷药剂单位成本
                  %li.nav-item
                    %a.nav-link{"data-toggle" => "tab", :href => "#tycbs", :role => "tab"}
                      碳源成本
                  %li.nav-item
                    %a.nav-link{"data-toggle" => "tab", :href => "#settings", :role => "tab"}
                      去除单位TP成本
                  %li.nav-item
                    %a.nav-link{"data-toggle" => "tab", :href => "#qctncbs", :role => "tab"}
                      去除单位TN成本
              .card-body
                .tab-content.text-center
                  #home.sglfct-chart-ctn.tab-pane.active{:role => "tabpanel"}
                    .row
                      .col-12.my-5.chart-statistic-wrapper
                        .chart-statistic-ctn.my-chart-statistic-ctn.power-chart{:'data-chart' => Setting.charts.line}
                  #profile.sglfct-chart-ctn.tab-pane{:role => "tabpanel"}
                    .row
                      .col-12.my-5.chart-statistic-wrapper
                        .chart-statistic-ctn.my-chart-statistic-ctn.percost-chart{:'data-chart' => Setting.charts.line}
                  #messages.tab-pane{:role => "tabpanel"}
                    .row
                      .col-12.my-5.chart-statistic-wrapper
                        .chart-statistic-ctn.my-chart-statistic-ctn.tpcost-chart{:'data-chart' => Setting.charts.line}
                  #tycbs.tab-pane{:role => "tabpanel"}
                    .row
                      .col-12.my-5.chart-statistic-wrapper
                        .chart-statistic-ctn.my-chart-statistic-ctn.tncost-chart{:'data-chart' => Setting.charts.line}
                  #settings.tab-pane{:role => "tabpanel"}
                    .row
                      .col-12.my-5.chart-statistic-wrapper
                        .chart-statistic-ctn.my-chart-statistic-ctn.tputcost-chart{:'data-chart' => Setting.charts.line}
                      .col-12.my-5.chart-statistic-wrapper
                        .chart-statistic-ctn.my-chart-statistic-ctn.ctputcost-chart{:'data-chart' => Setting.charts.line}
                  #qctncbs.tab-pane{:role => "tabpanel"}
                    .row
                      .col-12.my-5.chart-statistic-wrapper
                        .chart-statistic-ctn.my-chart-statistic-ctn.tnutcost-chart{:'data-chart' => Setting.charts.line}
                      .col-12.my-5.chart-statistic-wrapper
                        .chart-statistic-ctn.my-chart-statistic-ctn.ctnutcost-chart{:'data-chart' => Setting.charts.line}

        .row.my-3
          .col-6
            .card.mx-1.w-100
              .card-header.border-bottom-0.bg-white
                %ul.nav.nav-tabs{:role => "tablist"}
                  %li.nav-item
                    %a.nav-link.active{"data-toggle" => "tab", :href => "#sdzjtbz", :role => "tab"}
                      山东省住建厅准四标准达标率(在线)
                  %li.nav-item
                    %a.nav-link{"data-toggle" => "tab", :href => "#jnzsbz", :role => "tab"}
                      济宁准三标准达标率(在线)
                  %li.nav-item
                    %a.nav-link{"data-toggle" => "tab", :href => "#qzbbz", :role => "tab"}
                      全指标地表三达标率(在线)
              .card-body
                .tab-content
                  #sdzjtbz.sglfct-chart-ctn.tab-pane.active{:role => "tabpanel"}
                    #sdzjtbz-chart
                  #jnzsbz.sglfct-chart-ctn.tab-pane{:role => "tabpanel"}
                    #jnzsbz-chart
                  #qzbbz.sglfct-chart-ctn.tab-pane{:role => "tabpanel"}
                    #qzbbz-chart

          .col-6
            .card.mx-1.w-100
              .card-header.border-bottom-0.bg-white
                %ul.nav.nav-tabs{:role => "tablist"}
                  %li.nav-item
                    %a.nav-link.active{"data-toggle" => "tab", :href => "#online-qes-ctn", :role => "tab"}
                      在线数据简报
                  %li.nav-item
                    %a.nav-link{"data-toggle" => "tab", :href => "#cms-qes-ctn", :role => "tab"}
                      化验数据简报
              .card-body
                .tab-content
                  #online-qes-ctn.tab-pane.active{:role => "tabpanel"}
                    %table#online-qes-rpt-table.table.table-bordered{:'data-toggle' => "table"}
                      %thead
                        %tr
                          %th.text-left{:scope => "col", :'data-field' => "fct"}
                            厂区
                          %th.text-left{:scope => "col", :'data-field' =>  "title"}
                            出水水质>=进水水质
                  #cms-qes-ctn.tab-pane{:role => "tabpanel"}
                    %table#cms-qes-rpt-table.text-center.table.table-bordered{:'data-toggle' => "table"}
                      %thead
                        %tr
                          %th.text-left{:scope => "col", :'data-field' => "fct"}
                            厂区
                          %th.text-left{:scope => "col", :'data-field' =>  "title"}
                            出水水质>=进水水质

                    -#
                      %table#online-qes-rpt-table.text-center.table-sm{:'data-toggle' => "table", :'data-search'=>"true", :'data-show-export' => "true"}
                          %th{:scope => "col", :'data-field' =>  "cod"}
                            = cms_sub_pref(Setting.inf_qlties.cod)
                          %th{:scope => "col", :'data-field' =>  "bod"}
                            = cms_sub_pref(Setting.inf_qlties.bod)
                          %th{:scope => "col", :'data-field' => "ss"}
                            = cms_sub_pref(Setting.inf_qlties.ss)
                          %th{:scope => "col", :'data-field' => "nhn"}
                            = cms_sub_pref(Setting.inf_qlties.nhn)
                          %th{:scope => "col", :'data-field' => "tn"}
                            = cms_sub_pref(Setting.inf_qlties.tn)
                          %th{:scope => "col", :'data-field' => "tp"}
                            = cms_sub_pref(Setting.inf_qlties.tp)
