- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      - content_for :card_header do
        %h5
          = fa_icon "newspaper-o", text: t(controller_name + "." + action_name + '.title')
          = link_to "/factories/#{idencode(@factory.id)}/#{controller_name}", :class => "button button-small  pull-right button-primary" do
            = fa_icon " chevron-left", text: Setting.systems.btn_back, right: false 
      - content_for :card_body do
        .container-fluid
          .row
            .col-md-8.offset-2
              .card-body
                .container-fluid
                  .row
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.name
                      = @day_pdt_rpt.name
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.pdt_date
                      = @day_pdt_rpt.pdt_date
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.weather
                      = @day_pdt_rpt.weather
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.temper
                      = @day_pdt_rpt.temper
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.inf_qlty_bod
                      = @day_pdt_rpt.inf_qlty_bod
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.inf_qlty_cod
                      = @day_pdt_rpt.inf_qlty_cod
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.inf_qlty_ss
                      = @day_pdt_rpt.inf_qlty_ss
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.inf_qlty_nhn
                      = @day_pdt_rpt.inf_qlty_nhn
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.inf_qlty_tn
                      = @day_pdt_rpt.inf_qlty_tn
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.inf_qlty_tp
                      = @day_pdt_rpt.inf_qlty_tp
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.inf_qlty_ph
                      = @day_pdt_rpt.inf_qlty_ph
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.eff_qlty_cod
                      = @day_pdt_rpt.eff_qlty_cod
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.eff_qlty_ss
                      = @day_pdt_rpt.eff_qlty_ss
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.eff_qlty_nhn
                      = @day_pdt_rpt.eff_qlty_nhn
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.eff_qlty_tn
                      = @day_pdt_rpt.eff_qlty_tn
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.eff_qlty_tp
                      = @day_pdt_rpt.eff_qlty_tp
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.eff_qlty_ph
                      = @day_pdt_rpt.eff_qlty_ph
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.eff_qlty_fecal
                      = @day_pdt_rpt.eff_qlty_fecal
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.eff_qlty_bod
                      = @day_pdt_rpt.eff_qlty_bod
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.sed_qlty_bod
                      = @day_pdt_rpt.sed_qlty_bod
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.sed_qlty_cod
                      = @day_pdt_rpt.sed_qlty_cod
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.sed_qlty_ss
                      = @day_pdt_rpt.sed_qlty_ss
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.sed_qlty_nhn
                      = @day_pdt_rpt.sed_qlty_nhn
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.sed_qlty_tn
                      = @day_pdt_rpt.sed_qlty_tn
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.sed_qlty_tp
                      = @day_pdt_rpt.sed_qlty_tp
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.sed_qlty_ph
                      = @day_pdt_rpt.sed_qlty_ph
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.inflow
                      = @day_pdt_rpt.inflow
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.outflow
                      = @day_pdt_rpt.outflow
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.inmud
                      = @day_pdt_rpt.inmud
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.outmud
                      = @day_pdt_rpt.outmud
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.mst
                      = @day_pdt_rpt.mst
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.power
                      = @day_pdt_rpt.power
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.mdflow
                      = @day_pdt_rpt.mdflow
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.mdrcy
                      = @day_pdt_rpt.mdrcy
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdt_rpts.mdsell
                      = @day_pdt_rpt.mdsell
                  
                  .row
                  
                  .row
                  
                  .row
                  
                  
                  .row
                  
      = render "layouts/bootstrap/card"
