.nested-fields.border.border-danger.mt-2
  .form-group
    .field.d-inline
      %table.table-bordered.day-pdt-table.ml-2
        %caption.text-center
          = Setting.chemicals.label
        %tbody
          %tr
            %td.p-3.text-center
              = f.label Setting.chemicals.name, :class => "gtext-center"
            %td.p-3.text-center
              = f.select :name, options_for_chemicals, {:include_blank=>false}, {:class=>"form-control"}
            
            %td.p-3.text-center
              = f.label Setting.chemicals.unprice, :class => "gtext-center"
            %td.p-3.text-center
              =f.number_field :unprice, :class => "form-control rounded-0", :step => "any"  , :required => true
            
          %tr
            %td.p-3.text-center
              = f.label Setting.chemicals.dosage, :class => "gtext-center"
            %td.p-3.text-center
              =f.number_field :dosage, :class => "form-control rounded-0", :step => "any", :required => true

            %td.p-3.text-center
              = f.label Setting.chemicals.cmptc, :class => "gtext-center"
            %td.p-3.text-center
              =f.number_field :cmptc, :class => "form-control rounded-0", :step => "any", :required => true
          -#
            
            %td.p-3.text-center
              = f.label Setting.chemicals.dosptc, :class => "gtext-center"
            %td.p-3.text-center
              =f.number_field :dosptc, :class => "form-control rounded-0", :step => "any"  , :required => true
            
            %td.p-3.text-center
              = f.label Setting.chemicals.per_cost, :class => "gtext-center"
            %td.p-3.text-center
              =f.number_field :per_cost, :class => "form-control rounded-0", :step => "any"  , :required => true
          
      .form-group.row
        .col-sm-2.offset-10.mt-3
          = link_to_remove_association "删除", f, :class => "btn btn-danger btn-sm d-inline"
