.nested-fields.nestd-item
  .form-group
    .field.d-inline
    
      .form-group.row
        = f.label Setting.eff_qlties.bod, :class => "col-sm-5 text-right"
        .col-sm-7
          = f.number_field :bod, :class => "form-control", :required => true 
        
      .form-group.row
        = f.label Setting.eff_qlties.cod, :class => "col-sm-5 text-right"
        .col-sm-7
          = f.number_field :cod, :class => "form-control", :required => true 
        
      .form-group.row
        = f.label Setting.eff_qlties.ss, :class => "col-sm-5 text-right"
        .col-sm-7
          = f.number_field :ss, :class => "form-control", :required => true 
        
      .form-group.row
        = f.label Setting.eff_qlties.nhn, :class => "col-sm-5 text-right"
        .col-sm-7
          = f.number_field :nhn, :class => "form-control", :required => true 
        
      .form-group.row
        = f.label Setting.eff_qlties.tn, :class => "col-sm-5 text-right"
        .col-sm-7
          = f.number_field :tn, :class => "form-control", :required => true 
        
      .form-group.row
        = f.label Setting.eff_qlties.tp, :class => "col-sm-5 text-right"
        .col-sm-7
          = f.number_field :tp, :class => "form-control", :required => true 
        
      .form-group.row
        = f.label Setting.eff_qlties.ph, :class => "col-sm-5 text-right"
        .col-sm-7
          = f.number_field :ph, :class => "form-control"
        
      .form-group.row
        = f.label Setting.eff_qlties.fecal, :class => "col-sm-5 text-right"
        .col-sm-7
          = f.number_field :fecal, :class => "form-control", :required => true 
        
