- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      - content_for :card_header do
        %h5
          = fa_icon "newspaper-o", text: t(controller_name + "." + action_name + '.title')
          = link_to "/factories/#{idencode(@factory.id)}/#{controller_name}", :class => "button button-small  pull-right button-primary" do
            = fa_icon " chevron-left", text: Setting.systems.btn_back, right: false 
      - content_for :card_body do
        .container-fluid
          .row
            .col-md-8.offset-2
              .card-body
                .container-fluid
                  .row
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdts.pdt_date
                      = @day_pdt.pdt_date
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdts.name
                      = @day_pdt.name
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdts.signer
                      = @day_pdt.signer
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdts.weather
                      = @day_pdt.weather
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdts.temper
                      = @day_pdt.temper
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.day_pdts.desc
                      = @day_pdt.desc
                  
                  .row
                  
                    - @day_pdt.enclosures.each do |e|
                      .col-md-6
                        = image_tag e.file_url(:small_width), :class => "w-100"
                  
                  .row
                    .col-md-2
                      = @day_pdt.inf_qlty.bod
                     
                    .col-md-2
                      = @day_pdt.inf_qlty.cod
                     
                    .col-md-2
                      = @day_pdt.inf_qlty.ss
                     
                    .col-md-2
                      = @day_pdt.inf_qlty.nhn
                     
                    .col-md-2
                      = @day_pdt.inf_qlty.tn
                     
                    .col-md-2
                      = @day_pdt.inf_qlty.tp
                     
                    .col-md-2
                      = @day_pdt.inf_qlty.ph
                    
                  
                    .col-md-2
                      = @day_pdt.eff_qlty.bod
                     
                    .col-md-2
                      = @day_pdt.eff_qlty.cod
                     
                    .col-md-2
                      = @day_pdt.eff_qlty.ss
                     
                    .col-md-2
                      = @day_pdt.eff_qlty.nhn
                     
                    .col-md-2
                      = @day_pdt.eff_qlty.tn
                     
                    .col-md-2
                      = @day_pdt.eff_qlty.tp
                     
                    .col-md-2
                      = @day_pdt.eff_qlty.ph
                     
                    .col-md-2
                      = @day_pdt.eff_qlty.fecal
                    
                  
                    .col-md-2
                      = @day_pdt.sed_qlty.bod
                     
                    .col-md-2
                      = @day_pdt.sed_qlty.cod
                     
                    .col-md-2
                      = @day_pdt.sed_qlty.ss
                     
                    .col-md-2
                      = @day_pdt.sed_qlty.nhn
                     
                    .col-md-2
                      = @day_pdt.sed_qlty.tn
                     
                    .col-md-2
                      = @day_pdt.sed_qlty.tp
                     
                    .col-md-2
                      = @day_pdt.sed_qlty.ph
                    
                  
                    .col-md-2
                      = @day_pdt.pdt_sum.inflow
                     
                    .col-md-2
                      = @day_pdt.pdt_sum.outflow
                     
                    .col-md-2
                      = @day_pdt.pdt_sum.inmud
                     
                    .col-md-2
                      = @day_pdt.pdt_sum.outmud
                     
                    .col-md-2
                      = @day_pdt.pdt_sum.mst
                     
                    .col-md-2
                      = @day_pdt.pdt_sum.power
                     
                    .col-md-2
                      = @day_pdt.pdt_sum.mdflow
                     
                    .col-md-2
                      = @day_pdt.pdt_sum.mdrcy
                     
                    .col-md-2
                      = @day_pdt.pdt_sum.mdsell
                      
                  
      = render "layouts/bootstrap/card"
